* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f0f0f0;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text {
    width: 1280px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 28px;
}
.traffic_light {
    margin: 20px;
    width: 300px;
    height: 720px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    border: 20px solid white;
}
.lights {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.light {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: gray;
    border-radius: 50%;
}
span {
    font-size: 32px;
    text-transform: uppercase;
    visibility: hidden;
}